<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .number-button{
    font-size: 15px; 
    width: 35px;
    Height: 25px;
    color: rgb(216, 216, 216);
    background-color: white;
    padding: 0;
border: none;
background: none;


}

#display{
    position: absolute;
    width: 200px;
    height:200px;
    left: 50%;
    font-size: 200px;
    color: Blue;
    }


.show{
    width:350px;
    height: 40px;
    background-color: rgb(158, 80, 158);
    color: white
}  

table { 
   
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid gray;
}

.display{
font-size: 10px;
}

    </style>
</head>
<body>
    <center>
        
     
         | <a href="http://www.tambolaticketgenerator.eu5.org" class="opener">Generate Tambola Tickets</a> | 
     
     
            
              <Br><br>
                <div class="table-container">
                <div id="display">
                </div>
             <table>
               
                 <tr>
                     <td><button id="1" class="number-button" onclick="select(this.id)">1</button></td>
                     <td><button id="2" class="number-button" onclick="select(this.id)">2</button></td>
                     <td><button id="3" class="number-button" onclick="select(this.id)">3</button></td>
                     <td><button id="4" class="number-button" onclick="select(this.id)">4</button></td>
                     <td><button id="5" class="number-button" onclick="select(this.id)">5</button></td>
                     <td><button id="6" class="number-button" onclick="select(this.id)">6</button></td>
                     <td><button id="7" class="number-button" onclick="select(this.id)">7</button></td>
                     <td><button id="8" class="number-button" onclick="select(this.id)">8</button></td>
                     <td><button id="9" class="number-button" onclick="select(this.id)">9</button></td>
                     <td><button id="10" class="number-button" onclick="select(this.id)">10</button></td>
                 </tr>
                 <tr>
                     <td><button id="11" class="number-button" onclick="select(this.id)">11</button></td>
                     <td><button id="12" class="number-button" onclick="select(this.id)">12</button></td>
                     <td><button id="13" class="number-button" onclick="select(this.id)">13</button></td>
                     <td><button id="14" class="number-button" onclick="select(this.id)">14</button></td>
                     <td><button id="15" class="number-button" onclick="select(this.id)">15</button></td>
                     <td><button id="16" class="number-button" onclick="select(this.id)">16</button></td>
                     <td><button id="17" class="number-button" onclick="select(this.id)">17</button></td>
                     <td><button id="18" class="number-button" onclick="select(this.id)">18</button></td>
                     <td><button id="19" class="number-button" onclick="select(this.id)">19</button></td>
                     <td><button id="20" class="number-button" onclick="select(this.id)">20</button></td>
                 </tr>
                 <tr>
                     <td><button id="21" class="number-button" onclick="select(this.id)">21</button></td>
                     <td><button id="22" class="number-button" onclick="select(this.id)">22</button></td>
                     <td><button id="23" class="number-button" onclick="select(this.id)">23</button></td>
                     <td><button id="24" class="number-button" onclick="select(this.id)">24</button></td>
                     <td><button id="25" class="number-button" onclick="select(this.id)">25</button></td>
                     <td><button id="26" class="number-button" onclick="select(this.id)">26</button></td>
                     <td><button id="27" class="number-button" onclick="select(this.id)">27</button></td>
                     <td><button id="28" class="number-button" onclick="select(this.id)">28</button></td>
                     <td><button id="29" class="number-button" onclick="select(this.id)">29</button></td>
                     <td><button id="30" class="number-button" onclick="select(this.id)">30</button></td>
                 </tr>
                 <tr>
                     <td><button id="31" class="number-button" onclick="select(this.id)">31</button></td>
                     <td><button id="32" class="number-button" onclick="select(this.id)">32</button></td>
                     <td><button id="33" class="number-button" onclick="select(this.id)">33</button></td>
                     <td><button id="34" class="number-button" onclick="select(this.id)">34</button></td>
                     <td><button id="35" class="number-button" onclick="select(this.id)">35</button></td>
                     <td><button id="36" class="number-button" onclick="select(this.id)">36</button></td>
                     <td><button id="37" class="number-button" onclick="select(this.id)">37</button></td>
                     <td><button id="38" class="number-button" onclick="select(this.id)">38</button></td>
                     <td><button id="39" class="number-button" onclick="select(this.id)">39</button></td>
                     <td><button id="40" class="number-button" onclick="select(this.id)">40</button></td>
                 </tr>
                 <tr>
                     <td><button id="41" class="number-button" onclick="select(this.id)">41</button></td>
                     <td><button id="42" class="number-button" onclick="select(this.id)">42</button></td>
                     <td><button id="43" class="number-button" onclick="select(this.id)">43</button></td>
                     <td><button id="44" class="number-button" onclick="select(this.id)">44</button></td>
                     <td><button id="45" class="number-button" onclick="select(this.id)">45</button></td>
                     <td><button id="46" class="number-button" onclick="select(this.id)">46</button></td>
                     <td><button id="47" class="number-button" onclick="select(this.id)">47</button></td>
                     <td><button id="48" class="number-button" onclick="select(this.id)">48</button></td>
                     <td><button id="49" class="number-button" onclick="select(this.id)">49</button></td>
                     <td><button id="50" class="number-button" onclick="select(this.id)">50</button></td>
                 </tr>
                 <tr>
                     <td><button id="51" class="number-button" onclick="select(this.id)">51</button></td>
                     <td><button id="52" class="number-button" onclick="select(this.id)">52</button></td>
                     <td><button id="53" class="number-button" onclick="select(this.id)">53</button></td>
                     <td><button id="54" class="number-button" onclick="select(this.id)">54</button></td>
                     <td><button id="55" class="number-button" onclick="select(this.id)">55</button></td>
                     <td><button id="56" class="number-button" onclick="select(this.id)">56</button></td>
                     <td><button id="57" class="number-button" onclick="select(this.id)">57</button></td>
                     <td><button id="58" class="number-button" onclick="select(this.id)">58</button></td>
                     <td><button id="59" class="number-button" onclick="select(this.id)">59</button></td>
                     <td><button id="60" class="number-button" onclick="select(this.id)">60</button></td>
                 </tr>
                 <tr>
                     <td><button id="61" class="number-button" onclick="select(this.id)">61</button></td>
                     <td><button id="62" class="number-button" onclick="select(this.id)">62</button></td>
                     <td><button id="63" class="number-button" onclick="select(this.id)">63</button></td>
                     <td><button id="64" class="number-button" onclick="select(this.id)">64</button></td>
                     <td><button id="65" class="number-button" onclick="select(this.id)">65</button></td>
                     <td><button id="66" class="number-button" onclick="select(this.id)">66</button></td>
                     <td><button id="67" class="number-button" onclick="select(this.id)">67</button></td>
                     <td><button id="68" class="number-button" onclick="select(this.id)">68</button></td>
                     <td><button id="69" class="number-button" onclick="select(this.id)">69</button></td>
                     <td><button id="70" class="number-button" onclick="select(this.id)">70</button></td>
                 </tr>
                 <tr>
                     <td><button id="71" class="number-button" onclick="select(this.id)">71</button></td>
                     <td><button id="72" class="number-button" onclick="select(this.id)">72</button></td>
                     <td><button id="73" class="number-button" onclick="select(this.id)">73</button></td>
                     <td><button id="74" class="number-button" onclick="select(this.id)">74</button></td>
                     <td><button id="75" class="number-button" onclick="select(this.id)">75</button></td>
                     <td><button id="76" class="number-button" onclick="select(this.id)">76</button></td>
                     <td><button id="77" class="number-button" onclick="select(this.id)">77</button></td>
                     <td><button id="78" class="number-button" onclick="select(this.id)">78</button></td>
                     <td><button id="79" class="number-button" onclick="select(this.id)">79</button></td>
                     <td><button id="80" class="number-button" onclick="select(this.id)">80</button></td>
                 </tr>            
                 <tr>
                     <td><button id="81" class="number-button" onclick="select(this.id)">81</button></td>
                     <td><button id="82" class="number-button" onclick="select(this.id)">82</button></td>
                     <td><button id="83" class="number-button" onclick="select(this.id)">83</button></td>
                     <td><button id="84" class="number-button" onclick="select(this.id)">84</button></td>
                     <td><button id="85" class="number-button" onclick="select(this.id)">85</button></td>
                     <td><button id="86" class="number-button" onclick="select(this.id)">86</button></td>
                     <td><button id="87" class="number-button" onclick="select(this.id)">87</button></td>
                     <td><button id="88" class="number-button" onclick="select(this.id)">88</button></td>
                     <td><button id="89" class="number-button" onclick="select(this.id)">89</button></td>
                     <td><button id="90" class="number-button" onclick="select(this.id)">90</button></td>
                 </tr>
             </table>
            </div>
             
        <div class="display">
             <p>Date/Time: <span id="datetime"></span></p>
             <label id="current">Current</label>
             <label for="">&#8592;</label>
             <label id="previous">Last 1st</label>
             <label for="">&#8592;</label>
             <label id="previous1">Last 2nd</label>
             <label for="">&#8592;</label>
             <label id="previous2">Last 3rd</label>
             <label for="">&#8592;</label>
             <label id="previous3">Last 4th</label>
             <label>: Total: </label>
             <lable id="total"></label>
        </div><br>
     <button onclick="generate(); this.disabled= true;" class="show" id="nxt">Next Number (Wait for 3s)</button>
     <br>
     <br>
     <button onclick="reset()" class="show">Reset</button>
     <br>
     <H4>Made By:- <b>Rishabh Mishra</b><br>Contact: <a href= "mailto: rishabhborn2win@gmail.com" >rishabhborn2win@gmail.com</a></h4>
     <br><br><br><br>
         </center> 
 <script>
     function pick(n, min, max){
    var values = [], i = max;
    while(i >= min) values.push(i--);
    var results = [];
    var maxIndex = max;
    for(i=1; i <= n; i++){
        maxIndex--;
        var index = Math.floor(maxIndex * Math.random());
        results.push(values[index]);
        values[index] = values[maxIndex];
    }
    return results;
}

          var i=-1;
          list = pick(90, 1, 90);
function generate(){
document.getElementById('display').style.opacity=1;
document.getElementById('nxt').style.opacity=0.5
setTimeout(function(){
document.getElementById('nxt').disabled=false;
document.getElementById('nxt').style.opacity=1;
document.getElementById('display').style.opacity=0;
}, 3000);


i++;
id = list[i];
document.getElementById(id).style.backgroundColor="red";
var j;
for(j= i-1; j>=0;j--)
         {
       document.getElementById(list[j]).style.backgroundColor="#5959ff";
        }
    var dt = new Date();
    document.getElementById("datetime").innerHTML = dt.toLocaleString();
    document.getElementById('display').innerHTML= list[i];
    document.getElementById('current').innerHTML=  list[i]; 
    document.getElementById('previous').innerHTML= list[i-1]; 
    document.getElementById('previous1').innerHTML= list[i-2]; 
    document.getElementById('previous2').innerHTML= list[i-3]; 
    document.getElementById('previous3').innerHTML= list[i-4]; 
    document.getElementById('total').innerHTML= i+1;    
}
</script>
</body>
</html>