
.number-button{
    font-size: 20px; 
    width: 100%;
    Height: 37px;
    color: rgb(216, 216, 216);
    background-color: white;
    border: none;
    background: none;
}
@media (max-width: 700px) {
  .number-button {
    font-size: 15px;
    height: 37px;
  }
}

#display{
    position: absolute;
    width: 200px;
    height:200px;
    font-size: 200px;
    color: Blue;
    left: 40%;
    top: 3%;
    }


.show{
    width:350px;
    height: 40px;
    background-color: rgb(158, 80, 158);
    color: white
}  

table { 
  width: 90%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid gray;
}

.display{
display: flex;
justify-content: space-between;

font-size: 15px;
}

.button-lg {
	background-color: #ABB7F8;
}

.text-span {
	margin-left: 30%;
	font-size: 25px;
}

/* ticket designing */
.tambola-ticket {
  width: 30%;
  height: auto;
}

.ticket{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: black 3px solid;
  padding: 5px;
  margin: 10px;
  background-color: #ABB7F8;
}

.ticket p{
color: black;
font-weight: 700;
 text-align: center;
 text-transform: uppercase ;
 margin: 0px;
}
.ticket-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 6%;
  
}
.tambola-ticket td {
  background-color: white;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
}

/* dividends verufy buttons md list */
.verify-btn-list{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.verify-btn{
  margin: 3px;
  border-radius: 10px;
  padding: 10px;
  background-color: #ABB7F8;
  font-weight: 700;
}

.verify-btn:hover{
  transition: 0.5s;
  font-size: 20px;
  background-color: green;
}

/* scanning ticket styling */
.container-ticket{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}



